* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: sans-serif;
  
  background-color: #ffffff;
}

/* NAVEGATION */

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
  position: relative;
  padding: 20px;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  box-sizing: border-box;
}
.nav-list a {
  color: #111;
  padding: 2px;
  text-decoration: none;
  font-size: 1.5rem;
}
.nav-list a:hover {
  color: #fff;
  background-color: darkgray;
  transition: 0.3s;
}

.abrir-menu,
.cerrar-menu {
  display: none;
  background-color: transparent;
}

/*PRESENTATION*/

.container {
  display: flex;
  box-sizing: border-box;
  height: 95vh;
  width: 100%;
}
.item-container {
  box-sizing: border-box;
  width: 100%;
  background-size: cover;
  transition: 1s;
}
.item-container:first-child {
  background-image: url(./assets/img/Verticales/roma.jpeg);
}

.item-container:nth-child(2) {
  background-image: url(./assets/img/Verticales/francia.jpg);
}
.item-container:nth-child(3) {
  background-image: url(./assets/img/Verticales/munich.jpg);
}
.item-container:nth-child(4) {
  background-image: url(./assets/img/Verticales/toledo.jpg);
}
.item-container:last-child {
  background-image: url(./assets/img/Verticales/amsterdam-vertical.jpeg);
}

.itm-1 {
  animation: escalar 1s both;
}
.itm-2 {
  animation: escalar 2.5s both;
}
.itm-3 {
  animation: escalar 3.5s both;
}
.itm-4 {
  animation: escalar 4.5s both;
}
.itm-5 {
  animation: escalar 5.5s both;
}

.item-container:hover {
  overflow: auto;
  box-sizing: border-box;
  transform: scale(0.9);
  border-radius: 15px;
}
.link-item {
  box-sizing: border-box;
  padding-top: 15px;
  text-decoration: none;
  color: #fff;
  writing-mode: vertical-rl;
  font-size: 4rem;
}

/*TITLE*/

/*MAIN*/
.title {
  text-align: center;
  margin: 10px;
}
.grid {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  column-gap: 5px;
}

.grid-item img {
  max-width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333c;
  height: 200px;
  width: 100%;
  text-align: center;

}

footer .footer-title {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-evenly;
  font-family: monospace;
  font-weight: 100;
  margin-top: 30px;
  color: #fff;
}

.social-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}
.social-item img {
  width: 50px;
}
.social-item:hover {
  scale: 1.1;
  transition: .5s;
}

/*------MEDIAS QUERIES--------*/

@media screen and (max-width: 450px) {
  .container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: 82dvh;
  }
  .item-container {
    flex-grow: 1;
    flex-basis: 200;
    text-decoration: none;
    color: #fff;
    animation: none;
    background-position: center;
  }
  .link-item {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding-top: 15px;
  }
}

/* NAVIGATION QUERIES */

@media screen and (max-width: 600px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: none;
  }
  .nav {
    opacity: 0;
    min-width: 50%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #111;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .cerrar-menu {
    background-color: transparent;
    color: #fff;
    margin-top: 15px;
  }
  .nav-list {
    margin-top: 150px;
    gap: 40px;
    flex-direction: column;
    text-align: end;
  }
  .nav-list a {
    color: #fff;
  }
  /*-----FOOTER MEDIA QUERIES------*/
  footer .footer-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    gap: 10px;
  }
  .social-list {
    padding: 10px
  }
}




/*------ANIMATIONS-------*/

@keyframes escalar {
  from {
    scale: 1;
  }
  to {
    scale: 0.9;
  }
}
